/* Estilos del nav de navegacion */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");

.sidebar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 80px !important;
  background: #202124 !important;
  padding: 6px 16px !important;
  height: 100% !important;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.5s ease !important;
  overflow: hidden !important;
  z-index: 5 !important;
}

.sidebar.active {
  width: 240px !important;
}

.sidebar .logo_content .logo {
  display: flex !important;
  color: #4ecde6 !important;
  height: 50px !important;
  width: 200px !important;
  font-size: 30px !important;
  margin-left: 5px !important;
  align-items: center !important;
  pointer-events: none !important;
  opacity: 0 !important;
  transition: 0.3s !important;
}

.sidebar.active .logo_content .logo {
  opacity: 1 !important;
}

.sidebar .logo_content .logo .logo_name {
  font-size: 23px !important;
  font-weight: 600 !important;
  margin: 0 10px !important;
}

.sidebar #btn {
  position: absolute !important;
  color: #b3b3b3 !important;
  left: 50% !important;
  top: 6px !important;
  font-size: 20px !important;
  height: 50px !important;
  width: 50px !important;
  text-align: center !important;
  line-height: 50px !important;
  transform: translate(-50%) !important;
}

.sidebar.active #btn {
  left: 85% !important;
}

.sidebar .src {
  position: relative !important;
  height: 50px !important;
  width: 100% !important;
  margin-top: 20px !important;
}

.sidebar .src input {
  position: absolute !important;
  height: 100% !important;
  width: calc(100% - 50px) !important;
  left: 0 !important;
  top: 0 !important;
  border-radius: 20px !important;
  outline: none !important;
  border: none !important;
  background: #0b2997 !important;
  padding-left: 50px !important;
  font-size: 15px !important;
  color: #ffffff !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.5s ease !important;
}

.sidebar .src .bx-search {
  position: absolute !important;
  z-index: 99 !important;
  font-size: 22px !important;
  color: #ffffff !important;
  transition: all 0.5s ease !important;
}

.sidebar .src .bx-search:hover {
  color: #0b2997 !important;
}

.sidebar .src .bx-search:hover ~ input {
  background: #ffffff !important;
}

.sidebar i {
  height: 50px !important;
  min-width: 50px !important;
  border-radius: 12px !important;
  line-height: 50px !important;
  text-align: center !important;
  font-size: 25px !important;
}

.sidebar ul {
  margin-top: 20px !important;
}

.sidebar ul li {
  position: relative !important;
  height: 50px !important;
  width: 100% !important;
  margin: 0 !important;
  list-style: none !important;
  line-height: 50px !important;
}

.sidebar ul li .nav-selected {
  background-color: #ffffff !important;
  color: #0b2997 !important;
}

.sidebar ul li a {
  color: #b3b3b3 !important;
  display: flex !important;
  text-decoration: none !important;
  align-items: center !important;
  border-radius: 20px !important;
  font-size: 13px !important;
  white-space: nowrap !important;
  transition: all 0.4s ease !important;
}

.sidebar ul li a:hover {
  color: #0b2997 !important;
  background: #e7e9f5 !important;
}

.sidebar .link_name {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: all 0.5s ease !important;
}

.sidebar.active .link_name {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.sidebar ul li .tooltip {
  position: absolute !important;
  left: 130px !important;
  top: 0 !important;
  transform: translate(-45%, -50%) !important;
  border-radius: 10px !important;
  height: 35px !important;
  width: 130px !important;
  background: #ffffff !important;
  line-height: 35px !important;
  text-align: center !important;
  font-size: 13px !important;
  display: block !important;
  color: #242424 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  pointer-events: none !important;
  opacity: 0 !important;
  transition: all 0.5s ease !important;
}

.sidebar.active ul li .tooltip {
  display: none !important;
}

.sidebar ul li:hover .tooltip {
  opacity: 1 !important;
  top: 50% !important;
}

.home_content {
  position: absolute !important;
  height: 100% !important;
  width: calc(100%=300px) !important;
  left: 80px !important;
  transition: all 0.5s ease !important;
}

.home_content .text {
  font-size: 25px !important;
  font-weight: 500 !important;
  color: #242424 !important;
  padding: 12px 24px !important;
}

.sidebar.active ~ .home_content {
  left: 300px !important;
}

/* Estilos generales del sistema */

.inicio {
  background-image: url(../images/carretera-rodeada-colinas-cielo-nublado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transparencia {
  background-color: rgba(255, 255, 255, 0.2) !important;
  opacity: 1 !important;
}

.fondo {
  background-color: #263245 !important;
  height: 100%;
  width: 100%;
}

.sin-padding {
  padding: 0rem !important;
}

.nav-personal {
  background-color: #202124 !important;
  display: flex !important;
  justify-content: flex-end !important;
  width: 100% !important;
}

.nav-personal-1 {
  background-color: #202124 !important;
  display: flex !important;
  justify-content: flex-start !important;
}

.espaciado-img {
  padding: 0.5rem 0.5rem !important;
  border-radius: 3rem !important;
  margin-bottom: 0rem !important;
}

.img-redondo {
  border-radius: 6rem !important;
}

.espaciado-texto {
  padding: 1.1rem 1rem !important;
  margin: 0rem !important;
}

.color-texto {
  color: #4ecde6 !important;
}

.padding-container {
  padding: 2rem 0rem !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: white !important;
}

.btn-padding {
  padding: 0.375rem 2.75rem !important;
}

.btn-ubicacion {
  margin: 2rem 0rem !important;
}

.boton-ovalo {
  border-radius: 1rem !important;
}

.boton-ovalo:hover {
  border-radius: 1rem !important;
  color: black !important;
}

.borde {
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
}

.imagen-logo {
  width: 480px !important;
  height: 180px !important;
}

.imagen-logo img {
  width: 100% !important;
  height: 100% !important;
}

.icono-personalizado {
  font-size: 6.3rem !important;
  text-align: center !important;
  display: block !important;
  color: #ffffff !important;
}

.fondo-blanco {
  background: white !important;
  color: black !important;
}

#map {
  height: 500px !important;
  width: 100% !important;
}

.icono {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 2.75rem;
  color: #4ecde6;
}

/* CSS para el modal del pdf */
/* .alinear-boton {
    margin: 0px 20px 10px 0px;
}

.tamanio-modal {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

.contenido-modal {
    height: 750px;
}

iframe {
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .tamanio-modal {
        max-width: 1000px;
        width: 1000px;
        margin: 1.75rem auto;
        max-height: 750px;
        height: 750px;
    }
} */

.alineacion {
  display: flex;
  justify-content: flex-end;
}

.color-card {
  background-color: rgba(255, 255, 255, 0.3);
}

.color-texto:focus {
  box-shadow: 0 0 0 0.2rem rgba(78, 205, 230, 0.75);
}
